header {
display: inline-block;
font-family: Arial, sans-serif;
font-size: 15px;
flex-direction: column;
width: 100%;
}

a:hover{
  text-decoration: underline;
  
}

a:link {
  text-decoration: none;
  color: black;
}

.right {
  height: 20px;
  float: left;
  padding-left: 15;
}

.left {
  padding-left: 15px;
  height: 20px;
  float: right;
}

main {
  text-align: center;
  padding-top: 207px;
}

.sbar {
   width: 400px;
   height: 20px;
   margin: 2em;
  font-size: 13px;
}

.fleft {
  display: inline-block;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  position: fixed;
  bottom: 0;
  padding-bottom: 17px;

}

.fright {
  display: inline-block;
  padding-left: 27px;
  font-family: Arial, sans-serif;
  position: fixed;
  bottom: 0;
  padding-bottom: 17px;
  right: 27px;
}

footer {
  display: inline-block;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
  background: #f2f2f2;
  flex-direction: column;
  width: 100%;
}
